html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,
h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,
ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,
figure,footer,header,
hgroup,menu,nav,section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* <<<< FIM DO RESET >>>> */

/* <<<< INICIO VARIÁVEIS >>>> */
:root {
    --font-family-one: 'VT323', monospace;
    --font-family-two: 'Press Start 2P', cursive;
    --font-size-title: 3rem;
    --font-size-subtitle: 2rem;
    --font-size-p: 1rem;
    --color-one: rgb(184, 159,102,1);
    --color-two: rgba(240, 230, 140, 0.350);
    --color-three: rgb(241, 241, 241);
    --color-for: rgb(255, 255, 255);
    --color-five: rgba(66, 66, 66, 0.616);
    --color-six: rgba(240, 230, 140, 0.700);
    --color-alert: rgb(33, 28, 43, 79%);
}
/* <<<< FIM VARIÁVEIS >>>> */

/* <<<< ESTILIZAÇAO DA PAGINA >>>> */
html {
    font-family: var(--font-family-two);
}
body {
    position: absolute;
    background-color: var(--color-three);
    background-image: url(img/bg-image.png);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 200vh;
}
h1 {
    font-family: var(--font-family-two);
    font-size: var(--font-size-title);
    color: var(--color-one);
}
h2 {
    font-size: var(--font-size-subtitle);
    color: var(--color-one);
    font-family: var(--font-family-one);
}
p {
    font-size: var(--font-size-p);
    color: var(--color-five);
}
#header {
    width: 100vw;
    background-color: var(--color-five);
    box-shadow: 0px 10px 37px 25px var(--color-five);
    display: flex;
    justify-content: center;
}
#logo {
    display: flex;
    flex-direction: column;
    display: flex;
    margin: 0.5rem;
}
#logo img {
    width: 19rem;
    height: 9rem;
}
#logo h1 {
    font-size: 2.5rem;
    margin-left: 6.5rem;
    margin-top: -2rem;
    font-weight: bolder;
}
#info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#info h2 {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-family: var(--font-family-one);
    background-color: var(--color-five);
}
.hidden {
    display: none;
}
#showInfos{
    font-size: 0.7rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}
#timerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 2.5rem;
    background-color: var(--color-two);
}
#timer {
    font-family: var(--font-family-two);

}
.playCount{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-two);
    line-height: 1rem;
    width: 6rem;
    height: 2.5rem;
    margin: 0.5rem;
}
button {
    font-family: var(--font-family-one);
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    padding: 12px 40px 12px 7px;
    background-color: var(--color-two);
    background-image: url(img/shield.gif);
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    margin: 0.1rem;
}
.btnStart {
    width: 10rem;
    margin: 1rem auto;
}
button:hover {
    background-color: var(--color-six);
    opacity: 100%;
}
.form {
    width: 18rem;
    height: 20rem;
    padding-top: 1rem ;
    background-color: var(--color-five);
    position: absolute;
    top: 18.3rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-input {
    
}
.img1 {
	display: block;
	margin: 0 auto;
    width: 6rem;
}
.img2 {
	display: block;
	margin: 0 auto;
    width: 4rem;
}
.versus {
    font-size: 2rem;
    color: var(--color-three);
    text-align: center;
    margin: 0.8rem;
}
.input {
	display: block;
	margin: 0 auto;
    height: 1.3rem;
    width: 8rem;
	outline: 0;
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
	font-size: 1.3rem;
	font-weight: bold;
}
#player {
    width: 17rem;
    height: 3rem;
    margin: 1rem auto;    
    display: flex;
    align-items: center;
    justify-content: center;
}
#player p {
    font-size: 1.2rem;
}
.p-player1, .p-player2 {
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: 1px black;
}
.div-player1 {
    background-color: var(--color-five);
}
.div-player2 {
    background-color: var(--color-two);
}
.img-div {
    width: 4rem;
}
/* <<<< FIM DA ESTILIZAÇAO DA PAGINA >>>> */

/* <<<< ESTILIZAÇAO DO JOGO >>>> */
@keyframes piscar {
    0%   {background-color:var(--color-six); opacity: 60%;}
    5%   {background-color:var(--color-for); opacity: 100%;}
    10%  {background-color:var(--color-six); opacity: 60%;}
    15%  {background-color:var(--color-for); opacity: 100%;}
    20%  {background-color:var(--color-six); opacity: 60%;}
    25%  {background-color:var(--color-for); opacity: 100%;}
    30%  {background-color:var(--color-six); opacity: 60%;}
    35%  {background-color:var(--color-for); opacity: 100%;}
    40%  {background-color:var(--color-six); opacity: 60%;}
    45%  {background-color:var(--color-for); opacity: 100%;}
    50%  {background-color:var(--color-six); opacity: 60%;}
    55%  {background-color:var(--color-for); opacity: 100%;}
    60%  {background-color:var(--color-six); opacity: 60%;}
    65%  {background-color:var(--color-for); opacity: 100%;}
    75%  {background-color:var(--color-for); opacity: 100%;}
    80%  {background-color:var(--color-for); opacity: 100%;}
    85%  {background-color:var(--color-for); opacity: 100%;}
    90%  {background-color:var(--color-for); opacity: 100%;}
    95%  {background-color:var(--color-for); opacity: 100%;}
    100% {background-color:var(--color-for); opacity: 100%;}
  }
#game {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 3vh;
}
.column {
    display: flex;
    flex-direction: column;
    width: 13vw;
    height: 17rem;
    border: 1px solid black;
    background-color: hsla(0, 0%, 100%, 0.286);
}
.column:hover {
    background-color: hsla(0, 0%, 100%, 0.514);
}
.cell {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disc1,
.disc2 {
    border-radius: 30%;
    width: 10vw;
    height: 10vw;
    animation-name: piscar;
    animation-delay: -1s;
    animation-duration: 2.5s;
}
.disc1 {
    background: url(img/link.png);
    background-position: 50% 50%;
    background-size: 18vw;
    background-repeat: no-repeat;
}
.disc2 {
    background: url(img/vilain.png);
    background-position: 50% 50%;
    background-size: 15vw;
    background-repeat: no-repeat;
}
.alertEmpate .alertEmpate-img {
    background-image: url(img/link-fight-2.png);
    background-size: 20rem;
    background-repeat: no-repeat;
    background-position: 47% 100%;
}
.alertPlayer1,
.alertPlayer2,
.alertEmpate{
    top: 22rem;
    width: 88vw;
    height: 46vh;
    padding: 1rem;
    background-color: var(--color-alert);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alertPlayer1 p,
.alertPlayer2 p,
.alertEmpate p {
    margin-top: 1rem;
    text-align: center;
    font-size: 2.8rem;
    font-family: var(--font-family-one);
    font-weight: normal;
    color: var(--color-one);
}
.alertEmpate .alertEmpate-img {
    width: 10rem;
    height: 10rem;
    background-image: url(img/link-fight-2.png);
    background-size: 20rem;
    background-repeat: no-repeat;
    background-position: 47% 100%;
}
.alertPlayer1 .alertPlayer1-img {
    width: 10rem;
    height: 10rem;
    width: 10rem;
    height: 10rem;
    background-image: url(img/link+zelda.png);
    background-size: 10rem ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.alertPlayer2 .alertPlayer2-img {
    width: 10rem;
    height: 10rem;
    background-image: url(img/vilain2.png);
    background-size: 7rem;
    background-repeat: no-repeat;
    background-position: 47% 95%;
}
/* <<<< FIM DA ESTILIZAÇAO DO JOGO >>>> */

/* <<<< TABLET VERSION>>>> */
@media only screen and (min-width:540px) {
    .disc1, .disc2 {
        background-size: 9vw;
    }
    .column {
        height: 20rem;
    }
    .cell {
        height: 4rem;
    }
    .playCount{
        font-size: 1.2rem;
        width: 10rem;
        height: 3rem;
        padding: 1rem ;
        line-height: 2rem;
    }
}
@media only screen and (min-width:768px) {
    .column {
        height: 30rem;
    }
    .cell {
        height: 5rem;
    }
    #header {
        box-shadow: 0px 95px 100px 200px var(--color-five);
    }
    .column {
        width: 4rem;
        height: 24rem;
    }
    .alertPlayer1,
    .alertPlayer2,
    .alertEmpate{
        width: 37rem;
        height: 25rem;
        top: 20rem;
    }
    .disc1,
    .disc2 {
        width: 4rem;
        height: 4rem;
    }
    .disc1 {
        background: url(img/link.png);
        background-position: 50% 50%;
        background-size: 6rem;
        background-repeat: no-repeat;
    }
    .disc2 {
        background: url(img/vilain.png);
        background-position: 50% 50%;
        background-size: 5rem;
        background-repeat: no-repeat;
    }
    .alertEmpate .alertEmpate-img {
        width: 20rem;
    } 
}

/* <<<< DESKTOP VERSION>>>> */

@media only screen and (min-width:1124px) {
    body {
        background-size: 120%;
    }
    #info h2 {
        font-size: 3rem;
        width: 35rem;
    }
    .form {
        justify-content: space-evenly;
        width: 45rem;
        height: 18rem;
        background-color: var(--color-five);
        top: 22rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .img1 {
        display: block;
        margin: 1rem auto;
        width: 7rem;
    }
    .img2 {
        display: block;
        margin: 1rem auto;
        width: 5rem;
    }
    .btnStart {
        width: 25rem;
        margin: 0 5rem;
        font-size: 2.5rem;
        background-size: 2.8rem;
    }
    .column {
        width: 4rem;
        height: 24rem;
    }
    .alertPlayer1,
    .alertPlayer2,
    .alertEmpate{
        width: 37rem;
        height: 25rem;
        top: 27rem;
    }
    .disc1,
    .disc2 {
        width: 4rem;
        height: 4rem;
    }

    .disc1 {
        background: url(img/link.png);
        background-position: 50% 50%;
        background-size: 6rem;
        background-repeat: no-repeat;
    }

    .disc2 {
        background: url(img/vilain.png);
        background-position: 50% 50%;
        background-size: 5rem;
        background-repeat: no-repeat;
    }
    .alertEmpate .alertEmpate-img {
        width: 20rem;
    }
}